.div_login_main {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: linear-gradient(to left, rgb(218, 218, 218), rgb(189, 189, 189));
    /*background-color: rgb(218, 218, 218);*/

    overflow: auto;
}

.div_input_forms {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;

    width: 30vw;
    height: 90vh;

    background-color: whitesmoke;

    box-shadow: 0px 0px 12px 1px rgb(51, 51, 51);

    overflow: auto;
}

.div_responsive_input {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 60%;
}

.img_logotipo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 190px;
    height: 125px;
}

.class_input { 
    background-color: white;

    font-size: 20px;
    font-family: 'Open Sans';

    width: 98%;
    height: 40px;

    border-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    margin-bottom: 10px;

    transition: 0.3s;
}

#input_responsive { 
    margin-top: 100px;
}

#button_login {
    background-color: #1169ac;
    margin-top: 40%;

    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans';

    border-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    transition: 0.3s;
}

#button_login:hover {
    cursor: pointer;
    box-shadow: 0px 0px 12px 1px rgb(51, 51, 51);
    background-color: #115e99;
}

.class_input:focus {
    outline: none;
    box-shadow: 0px 0px 12px 1px rgb(51, 51, 51);
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 0px;
}


.erro_formLogin {
    background-color: red;
    margin: 15px;
    position: relative;
    text-align: center;
    border-radius: 20px;

    overflow: hidden;

    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;

    box-shadow: 0px 0px 12px 1px rgb(51, 51, 51);
}

.label02_formLogin {
    text-decoration: none;
    
    transition: 0.3s;

    color: #ffffff;

    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans';
    overflow: hidden;

}
